<div style="padding: 50px;">

    <h1 class="text-center">Usuarios Registrados!</h1>
    <button (click)="goBack()" class="btn btn-primary" style="margin-bottom: 20px;">Logout</button>

    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
                @for (item of usuariosList; track $index) {

                    <tr>
                        <th class="row"> {{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>


                    </tr>
                  }
        </tbody>
    </table>
</div>