<div class="modal-container">

  <h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-dark">Detalles de Empleado</h5>
  <form [formGroup]="empleadoForm" class="form-grid w-full" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Nombre</label>
      <input type="text" id="name" class="form-control" placeholder="Nombre" formControlName="name">
      <div *ngIf="empleadoForm.get('name')?.hasError('required') && empleadoForm.get('name')?.touched" class="form-error">
        Nombre es requerido
      </div>
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Correo</label>
      <input type="text" id="email" class="form-control" placeholder="Correo" formControlName="email">
      <div *ngIf="empleadoForm.get('email')?.hasError('required') && empleadoForm.get('email')?.touched" class="form-error">
        Correo is required
      </div>
    </div>
    <div>
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Telefono</label>
      <input type="text" id="phone" class="form-control" placeholder="Telefono" formControlName="phone">
      <div *ngIf="empleadoForm.get('phone')?.hasError('required') && empleadoForm.get('phone')?.touched" class="form-error">
        Telefono es requerido
      </div>
    </div>
    <div>
      <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Departamento</label>
      <input type="text" id="department" class="form-control" placeholder="Departamento" formControlName="department">
      <div *ngIf="empleadoForm.get('department')?.hasError('required') && empleadoForm.get('department')?.touched" class="form-error">
        Departament es requerido
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="submit-button">
        Entregar
      </button>
      <button type="button" (click)="onClose()" class="cancel-button">
        Cancelar
      </button>
    </div>
  </form>
  </div>
  
  