<!-- header.component.html -->
 <app-sidebar></app-sidebar>
<div class="app-header">
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-nav" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link hide-sidebar-toggle-button" href="#" (click)="toggleSidebar($event)">
                            <i class="material-icons">first_page</i>
                        </a>
                        
                    </li>
                    <!-- Resto de los elementos del navbar aquí -->
                </ul>
            </div>
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item hidden-on-mobile">
                        <a class="nav-link active" href="#">Applications</a>
                    </li>
                    <!-- Resto de los elementos del navbar aquí -->
                </ul>
            </div>
        </div>
    </nav>
</div>
