.same-size-card {
    min-height: 200px; /* Ajusta esta altura según sea necesario */
}

/* styles.css */
.btn-custom-red {
    background-color: red;
    color: white;
    border: 1px solid red;
  }
  
  .btn-custom-red:hover {
    background-color: darkred;
    border-color: darkred;
  }
  
  

  
  