<div class="app header-colorful align-content-stretch d-flex flex-wrap">
    <div class="app-container">
        <div class="search">
            <form>
                <input class="form-control" type="text" placeholder="Type here..." aria-label="Search">
            </form>
            <a href="dashboard" class="toggle-search"><i class="material-icons">close</i></a>
        </div>
        <div class="app-header">
            <nav class="navbar navbar-light navbar-expand-lg">
                <div class="container-fluid">
                    <div class="navbar-nav" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link hide-sidebar-toggle-button" href="dashboard"><i class="material-icons">first_page</i></a>
                            </li>
                           
                        </ul>
                    </div>

                    <div class="d-flex">
                        <ul class="navbar-nav">
                            <!-- Otros elementos de la barra de navegación -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="app-content">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="page-description">
                                <h1>Welcome, {{ firstName }} {{ lastName }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Contenido adicional -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Barra lateral -->
    <div class="sidebar" [class.collapsed]="isCollapsed">
        <!-- Contenido de la barra lateral -->
    </div>
</div>
