.same-size-card {
    min-height: 200px; /* Ajusta esta altura según sea necesario */
}

/* styles.css */
.btn-custom-red {
    background-color: red;
    color: white;
    border: 1px solid red;
  }
  
  .btn-custom-red:hover {
    background-color: darkred;
    border-color: darkred;
  }
  /* Estilo para la barra lateral */
.app-sidebar {
  width: 250px; /* Ajusta el ancho según tu diseño */
  transition: width 0.3s;
  /* Otras reglas de estilo para la barra lateral */
}

/* Barra lateral colapsada */
.app-sidebar.collapsed {
  width: 0;
  overflow: hidden;
  /* Otras reglas de estilo para el estado colapsado */
}

/* Asegúrate de que el botón esté siempre visible */
.hide-sidebar-toggle-button {
  position: fixed; /* Oposición fija según tu diseño */
  top: 0;
  left: 0; /* Ajusta según el diseño */
  z-index: 1000; /* Asegúrate de que el botón esté encima de otros elementos */
  /* Otras reglas de estilo para el botón */
}
.widget-stats-content {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget-stats-amount {
  font-size: 1vw; /* La fuente se escalará según el ancho de la vista */
}


.widget-stats-title,
.widget-stats-info {
  font-size: 1rem; /* Ajusta según sea necesario */
  white-space: nowrap; /* Evita que el texto se desborde */
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  min-width: 0; /* Asegura que el contenedor no tenga un tamaño mínimo que cause desbordamiento */
}

@media (max-width: 1200px) {
  .widget-stats-content {
      white-space: normal; /* Permite que el texto se ajuste en pantallas más pequeñas */
  }
}

  
  
  
