.logo-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Ajusta la altura según sea necesario */
}

.logo-img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px; /* Ajusta el espacio entre las imágenes si es necesario */
}




  
.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd; /* Añade un borde si es necesario */
  padding: 10px; /* Ajusta el espacio interno */
  height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
}

  .gallery-item img {
    max-width: 100%;
    height: auto;
  }
  
  
  
  .gallery-info {
    margin-top: auto; /* Empuja la información hacia la parte inferior */
    text-align: center; /* Centra el texto */
    width: 100%;
  }
  
  .product-name {
    font-size: 1rem; /* Tamaño de fuente para el nombre del producto */
    margin: 0; /* Elimina el margen predeterminado */
    color: #333; /* Color del texto del nombre del producto */
  }
  
  .product-price {
    font-size: 0.9rem; /* Tamaño de fuente para el precio */
    margin: 0; /* Elimina el margen predeterminado */
    color: #888; /* Color del texto del precio */
  }
  