.logo-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Ajusta la altura según sea necesario */
}

.logo-img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}


.gallery {
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan a la siguiente línea si no hay suficiente espacio */
    gap: 10px; /* Espacio entre las imágenes */
  }
  
  .gallery-item {
    flex: 1 1 calc(20% - 10px); /* Ajusta el ancho de las imágenes para que quepan 5 en una fila con un espacio de 10px entre ellas */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    padding: 5px; /* Espacio interno opcional */
    background-color: #fff; /* Fondo blanco opcional */
    border: 1px solid #ddd; /* Borde opcional */
    border-radius: 5px; /* Bordes redondeados opcionales */
    text-align: center; /* Centra el texto */
  }
  
  .gallery-item img {
    width: 100%; /* Hace que la imagen ocupe el ancho completo del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio en línea debajo de la imagen */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
  }
  
  .gallery-info {
    padding: 0 5px; /* Espacio interno */
  }
  
  .product-name {
    font-size: 1rem; /* Tamaño de fuente para el nombre del producto */
    margin: 0; /* Elimina el margen predeterminado */
    color: #333; /* Color del texto del nombre del producto */
  }
  
  .product-price {
    font-size: 0.9rem; /* Tamaño de fuente para el precio */
    margin: 0; /* Elimina el margen predeterminado */
    color: #888; /* Color del texto del precio */
  }
  